{% if lang == Language::English %}
<h3 style="text-align: center;">Cardiac Surgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 style="text-align: center;">شعبة جراحة القلب</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    Cardiac surgery, or cardiovascular surgery, is surgery on the heart or great vessels performed by cardiac surgeons.
    It is often used to treat complications of ischemic heart disease (for example, with coronary artery bypass
    grafting); to correct congenital heart disease; or to treat valvular heart disease from various causes, including
    endocarditis, rheumatic heart disease, and atherosclerosis. It also includes heart transplantation.
    {% else if lang == Language::Arabic %}
    جراحة القلب هي الجراحة التي يجريها جراحو القلب على عضلة القلب أو الأوعية الكبيرة أو الغشاء التامورى المحيط بالقلب
    وتعتبر جراحة القلب جزء من جراحات الصدر وتنقسم عادة إلى قسمين كبيرين هما جراحة القلب المغلق وجراحة القلب المفتوح
    ويستند الفرق قي التصنيف بين هذين القسمين إلى عدم الحاجة أو الحاجة إلى استخدام ماكينة القلب والرئة الصناعي في العملية
    على الترتيب.
    {% endif %}
</p>
