{% if lang == Language::English %}
<h3 style="text-align: center;">General Surgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 style="text-align: center;">شعبة الجراحة العامة</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    General surgery is a surgical specialty that focuses on abdominal contents including esophagus, stomach, small
    intestine, large intestine, liver, pancreas, gallbladder, appendix and bile ducts, and often the thyroid gland.
    They also deal with diseases involving the skin, breast, soft tissue,
    trauma, peripheral vascular surgery and hernias and perform endoscopic procedures such as gastroscopy and
    colonoscopy.
    {% else if lang == Language::Arabic %}
    الجراحة العامة هي تخصص جراحي يُعنى بما بداخل البطن من أعضاء وأجهزة متضمنة المريء والمعدة والأمعاء الدقيقة والقولون
    والكبد والبنكرياس والمرارة والقنوات الصفراوية والغدة الدرقية. كما تشمل أيضاً الأمراض المتعلقة بالثدي والأنسجة
    والفتاق.
    {% endif %}
</p>