{% if lang == Language::English %}
<h3 class="text-1xl m-4 font-bold" style="text-align: center;">Neurosurgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 class="text-1xl m-4 font-bold" style="text-align: center;">شعبة جراحة المخ والأعصاب</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    Neurosurgery, or neurological surgery, is the medical specialty concerned with the prevention, diagnosis, surgical
    treatment, and rehabilitation of disorders which affect any portion of the nervous system including the brain,
    spinal cord, peripheral nerves, and extra-cranial cerebrovascular system
    {% else if lang == Language::Arabic %}
    جراحة الأعصاب أو الجراحة العصبية (بالإنجليزية: neurosurgery) هو تخصص دقيق من تخصصات الطب. ويُعنى بأمراض الجهاز
    العصبي المركزي والجهاز العصبي المحيطي وعلاجها بالتدخل الجراحي ويسمى المتخصص بهذا التخصص جراح مخ وأعصاب.
    {% endif %}
</p>
