{% if lang == Language::English %}
<h3 style="text-align: center;">Pediatric Surgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 style="text-align: center;">شعبة جراحة الأطفال</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    Pediatric surgery is a subspecialty of surgery involving the surgery of fetuses, infants, children, adolescents, and
    young adults.
    {% else if lang == Language::Arabic %}
    جراحة الأطفال هو التخصص الفرعي من جراحة تنطوي على عملية جراحية للأجنة والرضع والأطفال والمراهقين، واليافعين . العديد
    من الجراحين المختصيين يقومون بممارسة طب الأطفال في مستشفيات الأطفال .
    {% endif %}
</p>
