<a class="btn btn-success btn-sm" style="float:right" href="/ar/divisions/pls.html">العربية</a>
<br>
<br>
<h3>
    About the division
</h3>
<br>
<br>
<p>
    Plastic surgery is a surgical specialty involving the restoration, reconstruction, or alteration of the human body.
    It can be divided into two categories. The first is reconstructive surgery which includes craniofacial surgery, hand
    surgery, microsurgery, and the treatment of burns. The other is cosmetic or aesthetic surgery. While
    reconstructive surgery aims to reconstruct a part of the body or improve its functioning, cosmetic surgery aims at
    improving the appearance of it.
</p>


<br>

<h3>Division members</h3>
<br>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-12">
            <table class="table table-striped" style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Academic Rank</th>
                </tr>
                {% for user in entry %}
                <tr>
                <td><a href="/faculty/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.nationality}}</td>
                <td>{{user.rank}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
        </div>

    </div>

</div>