{% if lang == Language::English %}
<h3 class="text-1xl m-4 font-bold" style="text-align: center;">Plastic Surgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 class="text-1xl m-4 font-bold" style="text-align: center;">شعبة جراحة التجميل</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    Plastic surgery is a surgical specialty involving the restoration, reconstruction, or alteration of the human body.
    It can be divided into two categories. The first is reconstructive surgery which includes craniofacial surgery, hand
    surgery, microsurgery, and the treatment of burns. The other is cosmetic or aesthetic surgery. While
    reconstructive surgery aims to reconstruct a part of the body or improve its functioning, cosmetic surgery aims at
    improving the appearance of it.
    {% else if lang == Language::Arabic %}
    الجراحة التجميلية هي تخصص جراحي يتضمن ترميم جسم الإنسان وإعادة بنائه أو تغييره. يمكن تقسيمها إلى فئتين. الأول هو
    الجراحة الترميمية التي تشمل جراحة القحف الوجهي وجراحة اليد والجراحة المجهرية وعلاج الحروق. والآخر هو الجراحة
    التجميلية أو الجمالية. بينما تهدف الجراحة الترميمية إلى إعادة بناء جزء من الجسم أو تحسين أدائه ، تهدف الجراحة
    التجميلية إلى تحسين مظهره.
    {% endif %}
</p>
