<a class="btn btn-success btn-sm" style="float:right" href="/ar/divisions/ts.html">العربية</a>
<br>
<br>
<h3>
    About the division
</h3>
<br>
<br>
<p>
    Thoracic surgery is the field of medicine involved in surgical treatment of
    organs inside the thorax (the chest)—generally treatment of conditions of the heart (heart disease) and lungs (lung
    disease).
</p>


<br>

<h3>Division members</h3>
<br>

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-12">
            <table class="table table-striped" style="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Nationality</th>
                    <th>Academic Rank</th>
                </tr>
                {% for user in entry %}
                <tr>
                <td><a href="/faculty/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.nationality}}</td>
                <td>{{user.rank}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
        </div>

    </div>

</div>