{% if lang == Language::English %}
<h3 style="text-align: center;">Thoracic Surgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 style="text-align: center;">شعبة جراحة الصدر</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    Thoracic surgery is the field of medicine involved in surgical treatment of
    organs inside the thorax (the chest)—generally treatment of conditions of the heart (heart disease) and lungs (lung
    disease).
    {% else if lang == Language::Arabic %}
    جراحة الصدر هي مجال طبي يختص بالعلاج الجراحي للأمراض التي تؤثر على الأعضاء داخل القفص الصدري، أي علاج أمراض الرئتين
    جراحيا.
    {% endif %}
</p>
