{% if lang == Language::English %}
<h3 style="text-align: center;">Vascular Surgery Division</h3>
{% else if lang == Language::Arabic %}
<h3 style="text-align: center;">شعبة جراحة الأوعية الدموية</h3>
{% endif %}

<p>
    {% if lang == Language::English %}
    Vascular surgery is a surgical subspecialty in which diseases of the vascular system, or arteries, veins and
    lymphatic circulation, are managed by medical therapy, minimally-invasive catheter procedures, and surgical
    reconstruction.
    {% else if lang == Language::Arabic %}
    جراحة الأوعية هي تخصص جراحي يختص بمعالجة أمراض الأوعية الدموية من شرايين وأوردة باستخدام طرق العلاج الطبية
    أوالجراحية أو طرق التدخل المحدود مثل القسطرة. يتم اجراء جراحة الأوعية الدموية، عندما يعاني المريض من أمراض الأوعية
    الدموية التي لا يمكن معالجتها بالطرق غير الجراحية.
    {% endif %}
</p>
