<div>
    <div class="flex-row">
        <div class="flex-col">
        </div>
        <div>
            <table class="w-full text-sm text-left rtl:text-right">
                <tr class="bg-gray-400 border-b  border-gray-200">
                    {% if lang == Language::English %}
                    <th class="px-6 py-2">Name</th>
                    <th class="px-6 py-2">Nationality</th>
                    <th class="px-6 py-2">Academic Rank</th>
                    {% else if lang == Language::Arabic %}
                    <th class="px-6 py-2" style="text-align: right;">الاسم</th>
                    <th class="px-6 py-2">الجنسية</th>
                    <th class="px-6 py-2">المرتبة الأكاديمية</th>
                    {% endif %}
                </tr>
                {% for user in entry %}
                <tr class="odd:bg-white even:bg-gray-50 border-b  border-gray-200">
                    {% if lang == Language::English %}
                    <td class="px-6 py-2"><a class="text-blue-600" href="/faculty/{{user.id}}">{{user.name}}</a></td>
                    {% else if lang == Language::Arabic %}
                    <td class="px-6 py-2" style="text-align: right;"><a class="text-blue-600" href="/ar/faculty/{{user.id}}">{{user.name}}</a>
                    </td>
                    {% endif %}
                    <td class="px-6 py-2">{{user.nationality}}</td>
                    <td class="px-6 py-2">{{user.rank}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="flex-col">
        </div>

    </div>

</div>