<br>
<h3>{{entry.name}}</h3>
<br>
<br>

<div>
    <div class="flex-row">
        <div class="flex-col">
        </div>
        <div class="flex-col">
            <table class="w-full text-sm text-left rtl:text-right">
                <tr>
                    {% if lang == Language::English %}
                    <th>Name</th>
                    {% else if lang == Language::Arabic %}
                    <th>الاسم</th>
                    {% endif %}
                    <td>{{entry.name}}</td>
                </tr>
                <tr>
                    {% if lang == Language::English %}
                    <th>Nationality</th>
                    {% else if lang == Language::Arabic %}
                    <th>الجنسية</th>
                    {% endif %}
                    <td>{{entry.nationality}}</td>
                
                </tr>
                <tr>
                    {% if lang == Language::English %}
                    <th>Academic Rank</th>
                    {% else if lang == Language::Arabic %}
                    <th>المرتبة الأكاديمية</th>
                    {% endif %}
                    <td>{{entry.rank}}</td>
                </tr>
                <tr>
                    {% if lang == Language::English %}
                    <th>Division</th>
                    {% else if lang == Language::Arabic %}
                    <th>الشعبة</th>
                    {% endif %}
                    <td>{{entry.division}}</td>
                </tr>
            </table>
        </div>
        <div class="flex-col">
        </div>

    </div>

</div>