<br>
<h3 class="text-1xl m-4 font-bold">{{title}}. {{entry.name}}</h3>
<br>
<br>

<div>
    <div class="flex-row">
        <div class="flex-col">
        </div>
        <div class="flex-col">
            <table class="w-full text-sm text-left rtl:text-right">
                <tr>
                    {% if lang == Language::English %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">Name</th>
                    {% else if lang == Language::Arabic %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">الاسم</th>
                    {% endif %}
                    <td class="px-6 py-2">{{entry.name}}</td>
                </tr>
                <tr>
                    {% if lang == Language::English %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">Nationality</th>
                    {% else if lang == Language::Arabic %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">الجنسية</th>
                    {% endif %}
                    <td class="px-6 py-2">{{entry.nationality}}</td>
                
                </tr>
                <tr>
                    {% if lang == Language::English %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">Academic Rank</th>
                    {% else if lang == Language::Arabic %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">المرتبة الأكاديمية</th>
                    {% endif %}
                    <td class="px-6 py-2">{{entry.rank}}</td>
                </tr>
                <tr>
                    {% if lang == Language::English %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">Division</th>
                    {% else if lang == Language::Arabic %}
                    <th class="bg-gray-400 border-b  border-gray-200 px-6 py-2">الشعبة</th>
                    {% endif %}
                    <td class="px-6 py-2">{{entry.division}}</td>
                </tr>
            </table>
        </div>
        <div class="flex-col">
        </div>

    </div>

</div>