<br>
<a style="float:right" href="/ar/contact">العربية</a>
<br>
<br>
<h3>
    Contact us
</h3>
<br>
<br>
<section>
    <div class="container">
        <div class="row">
            <div>
              <div>
                Phone:  <a href="#">012-640 8207</a>
                <br>
                Phone:  <a href="#">012-640 8209</a>
                <br>
                Phone:  <a href="#">012-640 000</a> Ext: <a href="#">20483</a>
              </div>
              <div>
                Email:  <a href="#">med.surgery@kau.edu.sa</a>
              </div>
              <br>
              <div>
                 Working hours: <a href="#">Sun to Fri: 08:30 AM - 03:30 PM</a>
              </div>
            </div>
        </div>
    </div>
  </section>