<br>
{% if lang == Language::English %}
<h3 class="text-2xl m-4 font-bold">Contact us</h3>
{% else if lang == Language::Arabic %}
<h3 class="text-2xl m-4 font-bold">تواصل معنا</h3>
{% endif %}
<br>
<br>
<section>
  <div>
    <div class="flex-col">
      <div>
        {% if lang == Language::English %}
        <ul class="max-w-md space-y-1 list-inside">
          <li>Phone: <a class="text-blue-600" href="#">012-640 8207</a></li>
          <li>Phone: <a class="text-blue-600" href="#">012-640 8209</a></li>
          <li>Phone: <a class="text-blue-600" href="#">012-640 000</a> Ext: <a href="#">20483</a></li>
          <li>Email: <a class="text-blue-600" href="#">med.surgery@kau.edu.sa</a></li>
        </ul>
        <br>
        <div>
          Working hours: <a href="#">Sun to Fri: 08:30 AM - 03:30 PM</a>
        </div>
        {% else if lang == Language::Arabic %}
        <ul class="max-w-md space-y-1 list-inside" style="justify-items: right;">
          <li>هاتف: <a class="text-blue-600" href="#">0126408207</a></li>
          <li>هاتف: <a class="text-blue-600" href="#">0126408209</a></li>
          <li>هاتف: <a class="text-blue-600" href="#">012640000</a> تحويلة: <a href="#">20483</a></li>
          <li>بريد إليكتروني: <a class="text-blue-600" href="#">med.surgery@kau.edu.sa</a></li>
        </ul>

        <br>
        <div>
          ساعات العمل: <a href="#">الأحد إلى الجمعة: 08:30 صباحا - 03:30 عصرا</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>