<br>
<a style="float:right" href="/ar/index.html">العربية</a>
<br>
<br>

<div>
    <div>
        <h3>The General Surgery Department at King Abdulaziz University</h3>
        <img src="/static/kauh.jpg" />
    </div>
</div>


<br>
<div>

    <p>
        The Department of Surgery is an important clinical department that has existed since the inception of the
        college of medicine in 1975. The Department provides continuous services through specialized outpatient clinics
        and general clinics through which surgical cases are referred. The Department also provides services 24 hours a
        day, seven days a week, to care and intervene in emergency and trauma cases. In addition to general surgery, the
        department includes specialized specialized divisions such as plastic surgery, cardiothoracic surgery, pediatric
        surgery, and neurosurgery, all of which play a prominent role both for patients and in medical education. The
        department also provides surgical care to outpatients. In addition, the department provides clinical training
        for medical, nursing, and dental students, interns, residents and fellows.
    </p>
</div>