<br>
<a style="float:right" href="/ar/mission">العربية</a>
<br>
<br>
<h3>
    Mission of the department
</h3>
<br>
<br>
<p>
    <ul>
        <li>
            Provide continuous medical education to medical students, physicians and nursing.
        </li>
        <li>
            Provide high quality specialized patients care.
        </li>
        <li>
            Share experience with other academic departments.
        </li>
        <li>
            Conduct innovative medical research.
        </li>
    </ul>
</p>